/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body{
  background-color: hsl(260, 15%, 18%);
}
.to-do-list{
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1{
  font-size: 4rem;
  color: white;
}

button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button{
  background-color: hsl(210, 90%, 50%);
}

.add-button:hover{
  background-color: hsl(210, 90%, 40%);
}

.delete-button{
  background-color: hsl(0, 80%, 55%);
}

.delete-button:hover{
  background-color: hsl(0, 80%, 45%);
  
}

.move-button{
  background-color: hsl(40, 100%, 50%);
}

.move-button:hover{
  background-color: hsl(40, 100%, 40%);
}

input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: black
}

ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 80%);
  margin-bottom: 10px;
  border: 3px solid hsl(0, 0%, 60%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text{
  flex: 1;
}

.delete-button, .move-button{
  padding: 8px 12px; 
  font-size: 1.4rem;
  margin-left: 10px;
}